@if (TempData["success"] != null)
{
    <h1>  @TempData["success"] </h1>
}
<table class="table table-striped table-hover table-borderless align-middle" id="orderDetailsTable">


    <thead class="table-light">
        <tr>
            <th>Product ID</th>
            <th>Order ID</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>Extended Price</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
    </tbody>

</table>

<script>
    $(document).ready(function () {
        $('#orderDetailsTable').DataTable({
            ajax: '@Url.Action("GetAllJson")',
            columns: [
                { data: 'productId' },
                { data: 'orderId' },
                { data: 'productName' },
                { data: 'unitPrice' },
                { data: 'quantity' },
                { data: 'discount' },
                { data: 'extendedPrice' }
            ],
        });
    });
</script>