@model Category


<h1>Create Category</h1>

<div class="container">
    <form method="post">
        <div class="mb-3 row">
            <label asp-for="CategoryName" class="col-4 col-form-label">Category Name</label>
            <div class="col-8">
                <input type="text" class="form-control" asp-for="CategoryName" placeholder="Category Name">
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Description" class="col-4 col-form-label">Category Description</label>
            <div class="col-8">
                <input type="text" class="form-control" asp-for="Description" placeholder="Category Description">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="offset-sm-4 col-sm-8">
                <button type="submit" class="btn btn-primary" asp-action="Create">Create</button>
            </div>
        </div>
    </form>
</div>