@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1>Create Category</h1>
    <form method="post">
        <div class="mb-3 row">
            <label for="categoryName" class="col-4 col-form-label">Category Name</label>
            <div class="col-8">
                <input type="text" class="form-control" name="categoryName" id="categoryName" placeholder="Category Name">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="categoryDescription" class="col-4 col-form-label">Category Description</label>
            <div class="col-8">
                <input type="text" class="form-control" name="categoryDescription" id="categoryDescription" placeholder="Category Name">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="offset-sm-4 col-sm-8">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>